
%% rebar config file
{deps, [
	{ibrowse, "4.0.*", {git, "git://github.com/cmullaparthi/ibrowse.git", "HEAD"}},
	{webmachine, ".*", {git, "git://github.com/basho/webmachine", "HEAD"}},
    	{erlydtl, ".*", {git, "git://github.com/OJ/erlydtl.git", "HEAD"}}
]
}.
{erl_opts, [{d,debug},debug_info, warn_unused_vars, nowarn_shadow_vars, warn_unused_import]}.
{require_otp_vsn, "R15"}.
