[
	{gpwstats,
		[
			{stock_url,"https://www.dmbzwbk24.pl/pliki_at/gpwkr"},
			{stock_days,["pon","wto","sro","czw","pt"]},
			{stock_suffix,".prn"},
			{mystocks,[
				{"WAS",1},
				{"PZU",2},
				{"TPE",3},
				{"JSW",4}
				]
			},
			{web,
				[
				  {ip, "0.0.0.0"},
				  {port, 8000},
				  {log_dir, "priv/log"},
				  {dispatch,
				    [
				      {["css", '*'],gpwstats_web_static_resources,["www/static/css"]},
				      {["js", '*'], gpwstats_web_static_resources,["www/static/js"]},
				      {["views", '*'], gpwstats_web_static_resources ,["www/static/views"]},
				      {["img", '*'], gpwstats_web_static_resources,["www/static/img"]},
				      {["gpwstats"], gpwstats_web_resource,[]}
				    ]}
				]
      			}
		]
	},
	{sasl,
    	[
			  {sasl_error_logger, {file, "log/sasl-error.log"}},
			  {errlog_type, error},
			  {error_logger_mf_dir, "log/sasl"},      % Log directory
			  {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
			  {error_logger_mf_maxfiles, 5}           % 5 files max
    	]
 	}
].
